/* Estilos generales */
.detalles-pelicula-container {
    padding-top: 9%;
    max-width: 1100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
}

.detalles-pelicula {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.posterdetalles {
    width: 50%;
}

.detalles-pelicula-poster {
    width: 340px;
    height: auto;
    border-radius: 10px;
}

.detalles-pelicula-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 60%;
}

.detalles-pelicula-boton {
    padding: 10px 20px;
    font-size: 28px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: #38ff8b;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    transition: background-color .5s, color .5s;
}

/* Estilos del modal */
.trailer-modal {
    position: fixed; /* Cambiado a fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333333e3; /* Fondo oscuro */
    color: white; /* Texto blanco */
    padding: 30px;
    padding-top: 0px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1000; /* Asegúrate de que esté por encima del resto del contenido */
}

.trailer-overlay {
    position: fixed; /* Cambiado a fixed */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo translúcido negro */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Asegúrate de que esté por debajo del modal pero por encima del contenido */
}

.close-modal-button {
    background: none;
    border: 2px solid #38ff8b; /* Borde verde */
    font-size: 20px;
    position: fixed; /* Cambiado a fixed */
    top: 10px; /* Ajustado para estar en la parte superior de la pantalla */
    right: 10px; /* Ajustado para estar en la parte derecha de la pantalla */
    cursor: pointer;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000; /* Asegúrate de que esté por encima del modal */
}

/* Hover effects */
.detalles-pelicula-boton:hover, .close-modal-button:hover {
    background-color: #38ff8b;
    color: black;
}

.ytdetalles {
    text-align: center;
}

.sipnosisdetalles {
    width: 80%;
    margin: 0 auto;
}
