.estrenos-container {
    padding: 20px;
}

.estreno-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.estreno-poster {
    display: block;
    width: 100%;
    height: auto;
}

.tituloEstreno{
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    margin: 0;
}

.borrarEstreno{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #d45252db;
    font-weight: bold;
    transition: background-color .5s;
}

.borrarEstreno:hover{
    cursor: pointer;
    background-color: red;

}