.divfooter {
    background-color: black;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.bloque1footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.bloque1footer > div {
    width: 25%;
    margin: 0 10px;
    padding: 10px;
    text-align: left;
}

.titfooter {
    font-size: 20px;
    margin-bottom: 10px;
}

.partners {
    background-color: #37FF8B;
    text-align: center;
    color: black;
    margin: auto;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
}

.avisoslegales_footer {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 3%;
    padding-bottom: 20px;
}

.avisoslegales_footer p {
    margin: 0 30px;
}

.partners {
    width: 80%;
}

.infotapacos p{
    margin-top: 7px;
}

.acercadenosotros p{
    margin-top: 7px;
}

/* Media queries para tablets y móviles */
@media (max-width: 768px) {
    .divfooter{
        text-align: center;
    }

    .bloque1footer > div {
        width: 90%; 
    }

    .titfooter {
        text-align: center;
    }

}

@media (max-width: 640px) {
    .bloque1footer{
        flex-direction: column;
    }
    .nuestroscines{
        width: 100% !important;
        text-align: center !important;
    }
    .bloque1footer > div {
        width: 60%;
    }
    .infotapacos{
        margin-top: 2%;
    }
    .acercadenosotros{
        margin-top: 5% !important;
        margin-bottom: 3% !important;
    }
}


@media (max-width: 480px) {
    .titfooter {
        font-size: 18px; 
    }
}

@media (max-width: 410px) {
    .avisoslegales_footer p {
        margin: 2px;
        font-size: 10px;
    }
}
