.divheader {
    background-color: black;
    width: 100%;
    color: white;
    height: 80px;
    display: flex; /* Utilizar flexbox */
    align-items: center;
}

/* === removing default button style ===*/
.logoheader {
    margin-left: 3%;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.logoheader {
    --border-right: 6px;
    --text-stroke-color: rgb(255, 255, 255);
    --animation-color: #37FF8B;
    --fs-size: 2.5em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Bebas Neue", sans-serif;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.logoheader:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 20px var(--animation-color));
    /* box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.7); */
}


.selectheader{
    margin-left: 3%;
    background-color: transparent; 
    color: white;
    border: 0px;
    padding: 10px; 
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}
.selectheader:hover{
    color: #37FF8B;
    cursor: pointer;
    border: 0px;
}
.opcion {
    background-color: black;
    border: 0px;
    color: white;
    font-size: 20px;
    padding: 20px; 
    height: auto;}

