html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.sliderfull {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out, transform 5s ease-in-out;
    opacity: 0;
}

.slide.active {
    opacity: 1;
}

.zoom-background {
    animation: zoom-background 10s forwards;
}

@keyframes zoom-background {
    from { transform: scale(1); }
    to { transform: scale(1.06); }
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

/* Resto de CSS para botones y titulos permanece igual */


.titulocentral {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 7px;
    line-height: 100px;
    font-size: 80px;
    /* color: transparent; */
}


.botones_slider_inicio {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.boton1_slider_inicio {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1.2px;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    font-family: "Bebas Neue", sans-serif;
}

.boton2_slider_inicio {
    display: inline-block;
    background-color: #37FF8B;
    color: black !important;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1.2px;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    font-family: "Bebas Neue", sans-serif;
}

.boton1_slider_inicio:hover {
    color: #37FF8B;
    font-weight: bold;
    transform: scale(1.05);
}

.boton2_slider_inicio:hover {
    color: black;
    font-weight: bold;
    transform: scale(1.05);
}

.textobotones_slider_inicio {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}


.boton1_slider_inicio, .boton2_slider_inicio {
  text-decoration: none; 
  color: white; 
}

/* Elimina cualquier subrayado en los enlaces */
.boton1_slider_inicio a, .boton2_slider_inicio a {
  text-decoration: none;
  color: inherit; 
}


/* GARFIELD */

.garfield-promotion {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: black; 
    padding: 50px;
    color: #fff;
  }
  
  .garfield-content {
    max-width: 60%;
    margin-left: 5em;
  }
  
  .garfield-content h2, .garfield-content h3 {
    font-weight: bold;
  }
  
  .garfield-content h2 {
    font-size: 33px;
  }
  
  .garfield-content h3 {
    font-size: 22px;
  }
  
  .garfield-content p, .garfield-content ul, .garfield-content a {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .garfield-content ul {
    list-style: none;
    padding-left: 1em;
  }
  
  .garfield-content li {
    margin-bottom: 5px;
  }
  
  .garfield-img {
    max-width: 500px;
    border-radius: 8px;
    padding: 2em;
  }
  

/* PROMO */

.team-promotion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px;
  }
  
  .team-img {
    max-width: 40%;
    border-radius: 8px;
    margin-left: 8em;
  }
  
  .team-content {
    max-width: 45%;
    color: #fff;
    text-align: left;
  }
  
  .team-content h3 {
    font-size: 45px;
    font-weight: bold;
  }
  
  .team-content h2 {
    margin: 10px 0;
    font-size: 28px;
  }
  
  .team-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-btn {
    background-color: #e40000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .contact-btn:hover {
    background-color: #cc0000;
  }

/* CONTACTO */

.fondoContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.938);

}

.form-container {
  position: relative;
  overflow: hidden;
  background-color: #2d2d2d;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 500px;
  margin: 1.25rem;
}

.form-container::before,
.form-container::after {
  content: '';
  position: absolute;
  border-radius: 9999px;
  z-index: -10;
}

.form-container::before {
  width: 6rem;
  height: 6rem;
  background-color: #16a34a;
  filter: blur(2rem);
}

.form-container::after {
  width: 8rem;
  height: 8rem;
  background-color: #4ade80;
  filter: blur(1rem);
  top: 6rem;
  right: -3rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: medium;
  color: #d1d5db;
}

.form-input {
  margin-top: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  background-color: #374151;
  border: 1px solid #4b5563;
  border-radius: 0.375rem;
  color: #ffffff;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  background-image: linear-gradient(to right, #111827, #4ade80, #16a34a);
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.375rem;
  transition: opacity 0.3s ease;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.8;
}


/* datos */
.container {
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: 0 0 10px rgba(87, 87, 87, 0.938);
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10PX;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  color: white;
  width: 100% !important;
}

.info-section {
  padding: 20px;
  width: 50%;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.address,
.office-hours,
.contact,
.email,
.summer-hours,
.winter-closed,
.winter-open {
  margin: 5px 0;
}

.social-media {
  margin-top: 10px;
}

.social-icon {
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.map-section img {
  max-width: 400px;
  height: auto;
  width: 50%;
}


@media (max-width: 768px) {
  .garfield-content, .team-content {
      max-width: 100%;
      margin-left: 1em;
      margin-right: 1em;
  }

  .garfield-img, .team-img {
      max-width: 100%;
      padding: 1em;
  }

  .form-container {
      width: 90%;
      margin: 0.5rem;
  }

  .info-section, .map-section {
      width: 100%;
  }

  .team-img, .garfield-img {
      margin-left: 0;
  }
}

/* Media queries para móviles */
@media (max-width: 480px) {
  .sliderfull {
      height: 400px;
  }

  .titulocentral {
      font-size: 40px;
      line-height: 50px;
  }

  .boton1_slider_inicio, .boton2_slider_inicio {
      width: 200px;
      height: 40px;
  }

  .team-content h3, .garfield-content h3 {
      font-size: 22px;
  }

  .team-content h2, .garfield-content h2 {
      font-size: 20px;
  }

  .team-content p, .garfield-content p, .team-content ul, .garfield-content ul {
      font-size: 14px;
  }

  .form-title {
      font-size: 1.25rem;
  }

  .contact-btn {
      padding: 8px 16px;
  }
}

/* .garfield-promotion, .team-promotion {
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.garfield-content, .team-content {
  align-items: center;
  text-align: center;
  max-width: 90%;
}

.map-section iframe {
  width: 100%;
  height: auto;
}

.container, .fondoContacto {
  flex-direction: column;
} */

/* Media queries para tablets y móviles */
@media (max-width: 768px) {
  .garfield-promotion, .team-promotion {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .garfield-content, .team-content {
      align-items: center;
      text-align: center;
      max-width: 90%;
  }

  .map-section iframe {
      width: 100%;
      height: auto;
  }

  .container, .fondoContacto {
      flex-direction: column;
  }
}

/* Media queries específicamente para móviles */
@media (max-width: 480px) {
  .garfield-promotion, .team-promotion {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .garfield-content, .team-content {
      align-items: center;
      text-align: center;
      max-width: 90%;
  }

  .map-section iframe {
      width: 100%;
      height: auto;
  }

  .container, .fondoContacto {
      flex-direction: column;
  }
}


@media (max-width: 430px){
  .botones_slider_inicio {
    margin-top: 8%;
    width: 80%;
}

}