/* Estilos base */
.movie-list-container {
    margin: 0 auto;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 80px;
}

.fondo {
    background-image: url('../back/public/img/fondo15.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-item {
    width: 23%;
    margin-bottom: 30px;
    text-align: center;
}

.poster {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.poster:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.titulopeli {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.buttoncargaradmin {
    background-color: #181414;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.buttoncargaradmin:hover {
    background-color: #484040;
    border: 1px solid black;
}

.anim-upp {
    animation: animateUp 0.5s ease;
}

.search-container {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ccc;
    border-radius: 7px;
    overflow: hidden;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.search-container input[type="text"]:focus {
    outline: none;
}

@keyframes animateUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

input[type="date"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
}

input[type="date"]:hover, select:hover {
    border-color: #888;
}

.buscadores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.buscadores .input-container {
    display: flex;
    gap: 10px;
}

.botonAniadirAdmin {
    margin-right: 2%;
    padding: 5px;
    text-transform: uppercase;
    background-color: #c0c0c0;
}

.botonAniadirAdmin:hover {
    background-color: #9a9a9a;
}

.botonEstrenoAdmin:hover {
    background-color: #9a9a9a;
}

.botonEstrenoAdmin {
    padding: 5px;
    text-transform: uppercase;
    background-color: #c0c0c0;
}

/* Media queries para dispositivos móviles y tablets */
@media (max-width: 1024px) {
    .movie-item {
        width: 45%; /* 2 items por fila en tablets */
    }

    .buscadores {
        flex-direction: column;
        align-items: flex-start;
    }

    .buscadores .input-container {
        flex-direction: column;
        gap: 5px;
    }

    .search-container input[type="text"] {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .movie-item {
        width: 48%; /* 2 items por fila en dispositivos móviles grandes */
    }

    .buscadores {
        padding: 10px 0;
    }

    .buscadores .input-container {
        width: 100%;
    }

    .search-container {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .movie-item {
        width: 100%; /* 1 item por fila en dispositivos móviles pequeños */
    }

    .buscadores {
        padding: 10px 0;
    }

    .buscadores .input-container {
        width: 100%;
    }

    .search-container {
        margin-bottom: 10px;
    }

    .buttoncargaradmin {
        width: 100%;
    }
}
