.fondo {
    padding: 20px;
    background-color: #f0f0f0;
}

.divpaginacompra {
    width: 80%;
    margin: 0 auto;
    padding-top: 7%;
    text-align: center;
}

.asientos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.asiento {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../public/img/plaza-aparcamiento2.png');
    border: 1px solid #ccc;
    cursor: pointer;
    color: white;
    margin: 5px;
}

.asiento.ocupado {
    background-image: url('../public/img/plaza-aparcamiento-OCUPADO2.png');
    cursor: not-allowed;
}

.asiento.seleccionado {
    background-color: yellow;
    background-image: none;
}

.spacer {
    flex-basis: 100%;
    height: 0;
}

.reservar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.reservar-btn:hover {
    background-color: darkblue;
}

.pantallacine {
    width: 35rem;
    height: 80px;
    background-color: #000000;
    color: #37FF8B;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin: 0 auto;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 15px;
}

.datos-pelicula {
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
    color: #333;
}
.datos-pelicula p {
    margin: 5px 0;
}
