.divpaginapago{
    padding: 5%;
}

.pago-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="checkbox"]
{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #cccccc9c;
    box-sizing: border-box;
    color: black;
}

/* button {
    background-color: #37FF8B;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #37FF8B;
} */

input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}
