/* .fondo {
    padding: 20px;
    background-color: #f0f0f0;
} */

.divpaginacompra {
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
}

.asientos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.reservar-btn:disabled,
.reservar-btn.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.asiento.seleccionado::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-image: url('/img/ESCOGIDO.png'); */
    background-size: cover;
    animation: slideUp 0.5s forwards;
    top: 0;
    left: 0;
    z-index: 10;
}

.asiento {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/plaza-aparcamiento2.png');
    border: 1px solid #ccc;
    cursor: pointer;
    color: white;
    margin: 5px;
}

.asiento.ocupado {
    background-image: url('/img/plaza-aparcamiento-OCUPADO2.png');
    cursor: not-allowed;
}

.asiento.seleccionado {
    /* background-image: url('/img/plaza-aparcamiento2.png'); */
}

.asiento .car {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/coche.png');
    background-size: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.asiento.seleccionado .car {
    opacity: 1;
}

.spacer {
    flex-basis: 100%;
    height: 0;
}

.reservar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #37FF8B;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 3%;
    transition: color .5s, background-color .5s, border .5s;
}

.reservar-btn:hover {
    background-color: WHITE;
    color: #37FF8B;
    border: 1px solid #37FF8B;
}

.pantallacine {
    width: 35rem;
    height: 80px;
    background-color: #000000;
    color: #37FF8B;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin: 0 auto;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 15px;
}

.datos-pelicula {
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
    color: #333;
}
.datos-pelicula p {
    margin: 5px 0;
}

.datoscompra {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.datoizq {
    width: 27%;
    text-align: left;
    margin-left: 8px;
    font-weight: bold;
}

.imgleyenda {
    width: 50px;
}

.datosleyenda {
    width: 30%;
}

.datosPantalla {
    width: 70%;
}

.parteabajo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.datosleyenda {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
}

.asiento {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    color: white;
    margin: 5px;
}

.asiento::after, .asiento.ocupado::after, .asiento.seleccionado::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.asiento.seleccionado::after {
    background-image: url('/img/ESCOGIDO.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.asiento {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
}

.asiento.ocupado, .asiento.seleccionado {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width: 768px) {
    .asiento {
        width: 58px;
        height: 60px;
        margin: 3px; 
    }

    .pantallacine {
        width: 100%;
    }

    .divpaginacompra {
        padding-top: 5%; 
    }

    .datosPantalla, .datosleyenda {
        width: 100%; 
    }

    .parteabajo {
        flex-direction: column; 
    }

    .datosleyenda {
        position: static;
        transform: none;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .asiento.seleccionado::after {
        width: 60px; 
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .asiento {
        width: 80px; 
        height: 80px; 
        margin: 4px; 
    }

    .datosPantalla, .datosleyenda {
        width: 80%;
    }
}


