/* General container for responsive design */
.peliculas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Calendar styles */
.calendar {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Bebas Neue", sans-serif;
}

.calendar button {
  flex: 1;
  padding: 20px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 1.22px;
  min-width: 60px;
  text-align: center;
}

.calendar button.active {
  background-color: rgb(102, 102, 102);
  color: #37FF8B;
}

.calendar .arrow-btn {
  flex: 0 0 40px;
  background-color: black;
  cursor: pointer;
}

.calendar .arrow-btn:hover {
  background-color: rgb(87, 87, 87);
  color: #37FF8B;
}

.calendar .arrow-btn.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.calendar .arrow-btn.disabled:hover {
  background-color: grey;
  color: white;
}


@media (max-width: 600px) {
  .peliculas-table {
    width: 100%;
  }

  .calendar {
    max-width: 100%;
    flex-direction: column;
  }

  .calendar button {
    flex: none;
    padding: 12px 20px;
    font-size: 14px;
    margin: 2px;
  }

  .calendar .arrow-btn {
    flex: none;
    padding: 10px;
  }

  .peliculas-container {
    padding: 10px;
  }
}

.movie-card{
  width: 60%;
}
.divflex{
  width: 100%;
  display: flex;
  margin-bottom: 5%;
  margin-top: 4%;
}

.movie-poster{
  max-width: 350px;
  height: 500px;
  object-fit: cover;
}

.postercartelera{
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
.movie-info{
  width: 40%;
  padding-left: 5%;
  align-self: center;
  font-size: 20px;
}

.titulopelicartelera{
  font-size: 35px;
  font-weight: bold;
}


.cartelerapatida{
  display: flex;
  width: 100%;
  padding-top: 7%;
  justify-content: space-between;
}

.carteleraizq{
  width: 70%;
}

.carteleraderch{
  width: 20%;
}