/* General container for responsive design */
.peliculas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 10%;
}

/* Calendar styles */
.calendar {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  margin-bottom: 3%;
  overflow: hidden;
  font-family: "Bebas Neue", sans-serif;
}

.calendar button {
  flex: 1;
  padding: 20px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 1.22px;
  min-width: 60px;
  text-align: center;
}

.calendar button.active {
  background-color: rgb(102, 102, 102);
  color: #37FF8B;
}


.calendar .arrow-btn {
  flex: 0 0 40px;
  background-color: black;
  cursor: pointer;
}

.calendar .arrow-btn:hover {
  background-color: rgb(87, 87, 87);
  color: #37FF8B;
}

.calendar .arrow-btn.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.calendar .arrow-btn.disabled:hover {
  background-color: grey;
  color: white;
}

/* Movie table styles */
.peliculas-table {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.peliculas-table th,
.peliculas-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.peliculas-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  .peliculas-table {
    width: 100%;
  }

  .calendar {
    max-width: 100%;
    flex-direction: column;
    /* Stack buttons vertically */
  }

  .calendar button {
    flex: none;
    padding: 12px 20px;
    font-size: 14px;
    margin: 2px;
  }

  .calendar .arrow-btn {
    flex: none;
    padding: 10px;
  }

  .peliculas-container {
    padding: 10px;
  }
}